.main-cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .main-cards-wrapper {
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}